body{
	font-family: 'Roboto', sans-serif;
    background: #121212;
    color: #ccc;

}

.form-content{

    width: 100%;
    border-radius: 5px;
    padding: 20px;
}

h1{
    margin-top: 0;
}

#wallDimensions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
}

#page-content{
    display: flex;
}

#dimensionForm{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #121212;
    flex: 0.3;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden; /* Hide vertical scrollbar */
    margin: 20px;
    border-radius: 10px;
}

div#addWallButton,  .button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: #ff5797;
    height: 40px;
    border: 3px solid #000;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    color: #121212;
text-transform: uppercase;
letter-spacing: 2px;
}

#results {
    padding: 20px;
    flex: 0.7;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    height: 100vh;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer .button{
    margin: 0 0 10px 0;
}

.static-object {
    display: flex;
    padding: 20px 0;
    width: 100%;
    justify-content: center;
}

#paint-cost{
    font-size: 10vh;
}


table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
}
   td, th{
      padding: 10px;
    }
    

    th{
      background-color: #ff5797;
      color: #121212;
      font-weight: 100;
      letter-spacing: 1px;
    }
    
  #pop-up-heading{
    margin-bottom: 20px;
  }
  
  #pop-up-content {
    margin: 20px 0;
    height: 84%;
    overflow: auto;
    overflow-x: hidden;
}

  span.tab-button {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 200px;
    cursor: pointer;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .flex.row {
    display: flex;
    justify-content: space-between;
}

#error-message{
    color: red;
    font-size: 15px;
}